*{
    margin: 0;
}

body{
    padding: 50px;
}

.calculator{
    background-color: #F4ABCB;
    border: 2px solid #5D2D06;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
}

#displayview{
    background-color: #ABAFB0;
    color: black;
    font-size: 25px;
    border: 2px solid #5D2D06;
    padding: 5px 0px 5px 5px;
}

#container{
    padding: 10px 0px;
}

.numbers{
    padding: 4px 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 90%;
}

nav button{
    background-color: #FD6490;
    border: 1px solid #5D2D06;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

.calbody{
    display: flex;
}

.item1{
    grid-column: span 2;
}

.numbers button{
    background-color: #BEE8FE;
    border: 1px solid #5D2D06;
    color: #5D2D06;
    font-weight: bolder;
    border-radius: 5px;
    text-align: center;
    margin: 2px;
    padding: 10px 10px;
    cursor: pointer;
}

.operations{
    display: flex;
    flex-direction: column;
    margin: 6px 0px 6px 6px;
    row-gap: 3px;
}

.operations button{
    background-color: #BEE8FE;
    border: 1px solid #5D2D06;
    color: #5D2D06;
    font-weight: bolder;
    border-radius: 30px;
    text-align: center;
    padding: 6px 10px;
    cursor: pointer;
}